blinker
certifi
charset-normalizer
click
contourpy
cycler
Flask
Flask-Cors
fonttools
idna
imageio
itsdangerous
Jinja2
kiwisolver
lazy_loader
MarkupSafe
matplotlib
networkx
numpy
opencv-python
packaging
pandas
pillow
psutil
pycryptodome
pyparsing
PyQt6
PyQt6-Qt6
PyQt6_sip
python-dateutil
pytz
requests
scikit-image
scipy
six
tifffile
tzdata
urllib3
Werkzeug
